{% extends 'base.html' %}
{% block content %}
<div class="glass-card" style="max-width: 500px; margin: 0 auto;">
    <h2>Create Secure Account</h2>
    <form method="POST">
        <label>Full Name</label>
        <input type="text" name="fullname" required placeholder="John Doe">
        <label>Email Address</label>
        <input type="email" name="email" required placeholder="john@example.com">
        <label>Password</label>
        <input type="password" name="password" required placeholder="••••••••">
        <label>Set Secure 4-Digit Transaction PIN</label>
        <input type="password" name="pin" maxlength="4" pattern="\d{4}" required placeholder="1234">
        <button type="submit" class="btn-primary" style="width:100%;">Complete Verification</button>
        <div style="text-align:center; margin-top:20px;">

    <span style="color:#cbd5e1;">
        Already have an account?
    </span>

    <a href="{{ url_for('login') }}"
       style="
       color:#38bdf8;
       text-decoration:none;
       font-weight:600;
       margin-left:5px;">
       Login
    </a>

</div>
    </form>
</div>
{% endblock %}